.auth {
  background-color: #262626;
  height: 100vh;
}
/* .login {
  height: 100vh;
} */
.login-text {
  font-weight: 600;
  color: #ffff;
  font-family: "Kalam", cursive;
}

.login-card {
  margin-top: 120px;
  height: 400px;
  width: 400px;
  background-color: #323c3d;
}
.login-btn {
  font-family: "Kalam", cursive;
}
.register-rqst {
  font-family: "Kalam", cursive;
}
